
<!-- ============================ Footer =========================== -->

<footer>
    <div class="container">
            <div class="copy">
                <p>
					Copyright &copy; <%= config.startyear %> - <%= date(new Date(), 'YYYY') %> <%= config.author_en || config.title %>. All rights reserved.
                </p>
                <!--<p>Theme By <a href="//go.kieran.top" style="color: #767D84">Kieran</a></p>-->
            </div>
            <div class="social">
                <ul>
                    <% if(theme.aliyun){ %>
                    <li><a href="<%- theme.aliyun %>" title="主机中国大陆部分由 阿里云 强力驱动！" target="_blank"><i class="icon-aliyun"></i></a>&nbsp;</li>
                    <% } %>
                    <% if(theme.digitalocean){ %>
                    <li><a href="<%- theme.digitalocean %>" title="主机特区、中国台湾以及海外部分由 Digital Ocean 强力驱动！" target="_blank"><i class="icon-digitalocean"></i></a>&nbsp;</li>
                    <% } %>
                    <% if(theme.freebsd){ %>
                    <li><a href="<%- theme.freebsd %>" title="由 FreeBSD 操作系统强力驱动！" target="_blank"><i class="icon-freebsd"></i></a>&nbsp;</li>
                    <% } %>
                    <% if(theme.nginx){ %>
                    <li><a href="<%- theme.nginx %>" title="由 NGINX 网页服务器提供服务！" target="_blank"><i class="icon-nginx"></i></a>&nbsp;</li>
                    <% } %>
                    <% if(theme.hexo){ %>
                    <li><a href="<%- theme.hexo %>" title="站点采用 HEXO 博客程序构建！" target="_blank"><i class="icon-hexo"></i></a>&nbsp;</li>
                    <% } %>
                </ul>
            </div>
            <div class="clearfix"> </div>
        </div>
</footer>

<!-- ============================ END Footer =========================== -->